.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: white;
  padding: 12px;
  border-radius: 6px;
  position: relative;

  .profile__avatar {
    margin-left: 16px;
  }
}
