body {
    background-image: linear-gradient(
            45deg,
            hsl(55deg 99% 70%) 0%,
            hsl(60deg 82% 72%) 11%,
            hsl(68deg 81% 76%) 22%,
            hsl(80deg 80% 79%) 33%,
            hsl(97deg 79% 82%) 44%,
            hsl(121deg 78% 85%) 56%,
            hsl(143deg 84% 82%) 67%,
            hsl(157deg 89% 78%) 78%,
            hsl(167deg 92% 74%) 89%,
            hsl(173deg 95% 70%) 100%
    );
    height: 100vh;
}

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

a {
    text-decoration: none;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 40px;
    padding: 20px;
}


.standard-container {
    background-color: white;
    padding: 12px;
    border-radius: 6px;
    height: auto;
}

.content-container {
    grid-column-start: 2;
    grid-column-end: 3;
}