.auth__form {
  display: grid;
  width: 50%;
  grid-auto-rows: auto;
  gap: 16px;
}

.auth__title {
  font-size: medium;
}

.auth__typeButton {
  font-size: large;
}

.auth__typeButton:hover {
  color: orangered;
}