.form__label {
  display: none;
}

.form__input {
  all: unset;
  background: white;
  padding: 4px;
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
}

.form__inputInvalid {
  border-color: red;
}
